<% content_for :title do %>Proxmox Cluster Health<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="pvecluster" data-view="HotState" data-criticalsound="/critical.mp3" data-title="PVE Cluster Health" data-text=". state will show here ."></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="corosync" data-view="HotState" data-criticalsound="/critical.mp3" data-title="Corosync State" data-text=". will show here ."></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="rgmanager" data-view="HotState" data-criticalsound="/critical.mp3" data-title="RG Manager Health" data-text=". state will show here ."></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="haservers" data-view="HotState" data-criticalsound="/critical.mp3" data-title="HA Servers State" data-text=". state will show here ."></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="4" data-sizey="1">
        <div data-id="hosts_and_kernels" data-view="Table" data-criticalsound="/critical.mp3" data-title="KVM Hosts" data-text=". state will show here ."></div>
    </li>
  </ul>
</div>

