<script type='text/javascript'>
$(function() {
    Dashing.gridsterLayout('[{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":2,"size_y":2}]')
    });
</script>

<% content_for :title do %>Proxmox<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="pvecluster" data-view="HotStatus" data-title="PVE Cluster Health" data-text=". status will show here ."></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="corosync" data-view="HotStatus" data-title="Corosync State" data-text=". will show here ."></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="rgmanager" data-view="HotStatus" data-title="RG Manager Health" data-text=". status will show here ."></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="haservers" data-view="HotStatus" data-title="Haservers" data-text=". status will show here ."></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <div data-id="hosts_and_kernels" data-view="Table" data-title="KVM Hosts" data-text=". status will show here ."></div>
    </li>
  </ul>
</div>

